@model IEnumerable<BuscaHotel_Web.Models.Dto.HotelNumberDTO>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Número de cadastro</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="HotelNumber" asp-action="CreateHotelNumber" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Criar um novo número de cadastro</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome do Hotel
                </th>
                <th>
                    Número 
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Hotel.Nome</td>
                    <td>@item.HotelNo</td>
                    <td>
                        <a asp-controller="HotelNumber" asp-action="UpdateHotelNumber" asp-route-hotelNo="@item.HotelNo" class="btn btn-success"><i class="bi bi-pencil-square"></i> </a>
                        <a asp-controller="HotelNumber" asp-action="DeleteHotelNumber" asp-route-hotelNo="@item.HotelNo" class="btn btn-danger"><i class="bi bi-trash-fill"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>