@model BuscaHotel_Web.Models.Dto.RegistrationRequestDTO


<form method="post">
    <div class="container border p-4">
        <div class="row text-center">
            <h1>Nova Conta</h1>
        </div>
        <div class="row text-center">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-6 offset-3 pb-2">
                <input asp-for="UserName" type="text" class="form-control" placeholder="Usuário..." />
            </div>
            <div class="col-6 offset-3 pb-2">
                <input asp-for="Name" type="text" class="form-control" placeholder="Nome..." />
            </div>
            <div class="col-6 offset-3 pb-2">
                <input asp-for="Password" type="text" class="form-control" placeholder="Senha..." />
            </div>
            <div class="col-6 offset-3 pb-2">
                <button type="submit" class="form-control btn-success" value="Submit">Cadastrar</button>
            </div>
        </div>
    </div>

    
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}